:root {
  --red: rgb(104, 0, 0);
}

/*
* {
  border: solid green 1px;
}
  */


body {
  background-color: black;
  font-family: 'IBM Plex Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-sizing: border-box;
}

/* GENERAL LAYOUT DIVS*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65vw;
  gap: 20px;
}

.cover {
  margin-top: 250px;
}

/* PRODUCT PAGE LAYOUT */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.buttons {
display: flex;
justify-content: space-between;
}

.button {
display: flex;
justify-content: center;
}

.text {
  flex-grow: 1;
  width: 49%;
}

.image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 49%;
}

.content {
  display: flex;
  margin-top: 25px;
  gap: 40px;
}

/* BODY PAGE LAYOUT */
.layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 500px ;
}

.layer-layout {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

/* CONTENT MOD */
h1 {
color: white;
text-align: center;
}

p {
  font-size: 17px;
  margin-bottom: -5px; 
  line-height: 27px;
}

p.first.beginning {
  margin-top: 250px;
}

p.beginning{
  font-size: 30px;
  margin: 10px 0 30px; 
  line-height: 40px;
}

.container a {
margin: 0 auto;
}

.container a img {
  height: 60px;
}

/* LINK STYLES */
a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: white;
}

a.reference-link {
  color: var(--red);
}

/* BUTTON STYLES */
button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  background-color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  margin: 5px;
  border: solid 2px transparent;
}

button:hover {
  background-color: var(--red);
  color: white;
  border: solid 2px white;
}

.current-page button {
  background-color: var(--red);
  color: white;
  border: solid 2px white;
}

/* IMAGE STYLES */
img {
  margin: 0 40px 25px;
}

.image-body {
  width: 40px;
}

.subpage {
  margin: 25px auto;
}

.arrow {
  width: 50px;
  height: 50px;
  justify-self: center;
}

.pug {
  position: absolute;
  top: 200px;
  z-index: 5;
}

.sheep-upper {
  position: absolute;
  top: 280px;
  left: 355px;
}

.sheep-lower {
  position: absolute;
  top: 350px;
  left: 390px;
  z-index: 4;
}

.udder-left {
  position: absolute;
  top: 360px;
  left: 350px;
}

.udder-right {
  position: absolute;
  top: 370px;
  left: 610px;
}

.legs {
  position: absolute;
  top: 580px;
  left: 460px;
}

.egg {
  position: absolute;
  top: 600px;
  left: 250px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
  .content {
    justify-content: center;
  }
  
  .content {
    flex-wrap: wrap;
  }

  .container {
    width: 75vw;
  }

  img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .buttons {
    flex-wrap: wrap;
    width: 20vw;
  }

  .sub-container {
    align-items: center;
  }
}